mixin reviewForm(review, saveUrl, cancelUrl)

    form(action=saveUrl method='post')
        div.review-form-container
            div.form-input
                label(for="customer_name") Customer
                input(type="text" id="customer_name" name="customer_name" value=review.customer_name)

            div.form-input
                label(for="subject") Subject
                input(type="text" id="subject" name="subject" value=review.subject)

            div.form-input
                label(for="rating") rating
                select(id="rating" name="rating")
                    each rating in [1, 2, 3, 4, 5]
                        option(value=rating selected= rating===review.rating) #{rating}

            div.form-input
                label(for="description") Description
                textarea(id="description" name="description" rows=10 cols=80) #{review.description}

            div.form-buttons
                a.button(href=cancelUrl) Cancel
                button.button(type='submit') Save