extends ../layout

block content
    include ../mixins/reviewPanel
    h1= product.product_name
    div= product.rating
    div
        a(href=`/products/edit/${product.id}`) Edit
        a(href=`/products/delete/${product.id}`) Delete
    p= product.description
    a(href='/products') Back to Products
    h3=`${product.reviews.length} Reviews`
    a(href=`/products/${product.id}/review/add`) Add Review
    div.reviews
        each review in product.reviews
            +reviewPanel(review)
